# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME=""
TELEGRAM_WEBHOOK_SECRET=""

# PartyKit (live attendee counts)
PARTYKIT_HOST="127.0.0.1:1999"
PUBLIC_PARTYKIT_HOST="127.0.0.1:1999"
